useDynLib(networkDynamic)

export(
networkDynamic,
print.networkDynamic,
as.data.frame.networkDynamic,
is.networkDynamic,
as.networkDynamic,
#       as.networkDynamic.networkDynamic,
#       as.networkDynamic.data.frame,
# as.networkDynamic.network,
#as.networkDynamic.network.list,
#as.networkDynamic.list,
#read.son,
"%t%",
network.extract,
network.dynamic.check,
# duration.matrix,
activate.edges,
activate.vertices,
add.edges.active,
add.vertices.active,       
deactivate.edges,
deactivate.vertices,
delete.edge.activity,
delete.vertex.activity,       
get.change.times,
get.edgeIDs.active,
get.edges.active,
get.neighborhood.active,
get.edge.activity,       
get.vertex.activity,       
is.active,
is.adjacent.active,
network.dyadcount.active,
network.edgecount.active,
network.naedgecount.active,
network.size.active)
