useDynLib(networkDynamic)

export(ndConverter,
ndConverter.network.list,
ndConverter.data.frame,
ndConverter.list,
ndConverter.network,
read.son,
"%t%",
network.extract,
network.dynamic.check,
duration.matrix,
activate.edges,
activate.vertices,
deactivate.edges,
deactivate.vertices,
get.edgeIDs.active,
get.edges.active,
get.neighborhood.active,
is.active,
is.adjacent.active,
network.dyadcount.active,
network.edgecount.active,
network.naedgecount.active,
network.size.active)
